# 1. Тяжелые 3D ассеты (Hugging Face / LFS)
models/

# 2. Локальные данные
custom_lists/
export/
database/
__pycache__/

# 3. Личные настройки и рабочее пространство
scripts/local_settings.py
*.code-workspace
project_history.txt

# 4. Скрипты обслуживания (Maintenance)
# Игнорируем всё в папке, кроме главного инструмента сброса
scripts/maintenance/*
!scripts/maintenance/reset_system.py

# 5. Заметки
notes/