# 1. Тяжелые 3D ассеты (Hugging Face / LFS)
models/

# 2. Локальные данные
data/
database/
__pycache__/

# 3. Личные и временные файлы
scripts/local_settings.py
project_history.txt
notes/

# 4. Тестовые утилиты
scripts/utils/