# Игнорируем папку моделей (она пойдет на Hugging Face)
models/

# Игнорируем логи и временные файлы
data/logs/
__pycache__/

# Настройки пользователя
scripts/local_settings.py

# --- Временные файлы и черновики ---
Bbront.txt

# Игнорируем базу данных
database/

# Игнорируем расходники экспорта (кроме критических)
data/exports/tables/
data/exports/snapshots/
data/project_history.txt

# Отдельно игнорируем финальные файлы, пока их корректность не утсверждена на 100%
data/exports/*.json

# Временные скрипты для разработки
scripts/utils/reset_assets.py